name: Run versioned certification checks

on:
  pull_request:
    branches: [main]
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * *'

jobs:
  call:
    uses: ./.github/workflows/certification-versioned.yml
